
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"><button class="pull-left backbtn"
                        title="Back" onclick="goBack()"><i
                            class="fa fa-arrow-left" aria-hidden="true"> </i></button>
                    New BOOK</h1>
                <script>
                        function goBack() {
                            window.history.back();
                        }
                    </script>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><%= title %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
         <%- include('../messages/messages') %>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <div class="card-tools">
                            <a href="/books/allbooks" class="btn btn-rgs btn-xs btn-primary"><span class="btn btn-primary btn-xs">View Books</span></a>
                        </div>

                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form action="/books/createbook" method="POST">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label
                                                        for="exampleInputEmail1">Book
                                                        Title</label>
                                                    <input type="text" name="title"
                                                        class="form-control"
                                                        placeholder="Enter Title">
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                    <label
                                                        for="exampleInputEmail1">Publication Year</label>
                                                    <input type="text" name="publishedyear"
                                                        class="form-control"
                                                        placeholder="Enter Title">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label
                                                        for="exampleInputEmail1">Author</label>
                                                    <input type="text" name="author"
                                                        class="form-control"
                                                        placeholder="Author">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label
                                                        for="exampleInputEmail1">ISBN
                                                        Number</label>
                                                    <input type="text" name="isbn"
                                                        class="form-control"
                                                        placeholder="ISBN Number">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select name="catName" class="custom-select rounded-0" id="exampleSelectRounded0">
                                                        <option value="">Select Category</option>
                                                        <% category.forEach(categories => { %>
                                                            <option value="<%= categories.catName %>"><%= categories.catName %></option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">

                                                <button type="submit"
                                                    class="btn btn-primary">Add
                                                    Book</button>

                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </section>
