 <div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0 text-dark"><button class="pull-left backbtn"
                  title="Back" onclick="goBack()"><i class="fa fa-arrow-left"
                     aria-hidden="true"> </i></button> Staff </h1>
            <script>
                function goBack() { window.history.back();}
                </script>

         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="/dashboard/kpi">Home</a></li>
               <li class="breadcrumb-item active">New Staff</li>
            </ol>
         </div>
      </div>
   </div>
</div>
<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12"></div>
      </div>
      <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4"><%- include('../messages/messages') %></div>
         <div class="col-md-4"></div>
      </div>
      <div class="row">
         <div class="col-md-12 col-sm-12">
            <div class="card card-outline card-info collapsed-card">
               <div class="card-header">
                  <h3 class="card-title">Staff Registration Form</h3>
                  <div class="card-tools">
                     <button type="button" class="btn btn-tool"
                        data-card-widget="collapse"><i class="fas fa-plus"></i>
                     </button>
                  </div>
               </div>
               <div class="card-body">
                  <form action="/staff/saveStaff" method="post">
                     <div class="row">
                        <div class="col-md-3 col-sm-4">
                           <label for>First Name <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="firstname"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Last Name <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="lastname"
                              class="form-control" required />
                        </div>

                        <div class="col-md-3 col-sm-4">
                           <label for>Date Of Birth <span
                                 class="text text-danger">*</span> </label>
                           <input type="date" name="birthDate"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Gender <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="gender" class="form-control"
                              required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Status <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="Status" class="form-control"
                              required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Designation <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="title" class="form-control"
                              required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Supervisor <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="supervisor"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Department <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="department"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Work Location <span
                                 class="text text-danger">*</span> </label>
                           <input type="text" name="WorkLocation"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Start Date <span class="text text-danger">*</span>
                           </label>
                           <input type="date" name="StartDate"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Street Address <span
                                 class="text text-danger">*</span> </label>
                           <input type="text" name="streetAddress"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>City <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="city" class="form-control"
                              required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Country <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="Country"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Email <span class="text text-danger">*</span>
                           </label>
                           <input type="text" name="emailAddress"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Phone Number <span
                                 class="text text-danger">*</span> </label>
                           <input type="text" name="contact"
                              class="form-control" required />
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <label for>Role <span class="text text-danger">*</span>
                           </label>
                           <select name="roleName"
                              class="custom-select rounded-0"
                              id="exampleSelectRounded0">
                              <option value>Select Role</option>
                              <% roles.forEach(role => { %>
                              <option value="<%= role.roleName %>"><%=
                                 role.roleName %></option>
                              <% }) %>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-12"
                        style="padding-top: 15px; margin-top: 15px;">
                        <button type="Submit" class="btn btn-primary">Save</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-md-12 col-sm-12">
            <div class="card card-outline card-info">
               <div class="card-header">
                  <h3 class="card-title">All Staff</h3>
                  <div class="card-tools">
                     <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i> </button>
                     <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                  </div>
               </div>
               <div class="card-body">
                  <div class="row">
                     <div class="col-md-12 table-responsive">
                        <table id="example1" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                              <tr class="headings">
                                 <th>Designation</th>
                                 <th>First Name</th>
                                 <th>Last Name</th>
                                 <th>Department</th>
                                 <th>Work Location</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="even pointer">
                                 <td class="a-center">Eng</td>
                                 <td>Wambi</td>
                                 <td>Micheal</td>
                                 <td>Engineering</td>
                                 <td>Hoima</td>
                              </tr>
                            </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>